<% (1..2).each do |b| %>
  <div class="column is-half <%= (b==1) ? 'pr-0' : 'pl-0' %>">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth is-bordered" >
      <% holidays = employee.holidays.select{ |h| h.term_id == term.id and ((b==1)? h.day < Date.today : h.day >= Date.today) } %>
      <thead>
        <tr>
          <th>
            <div class="tags has-addons">
              <% count = holidays.size %>
              <span class="tag "><%= (b==1) ? 'Tomados' : 'Programados' %></span>
              <% if count > 10 %>
                <span class="tag is-danger"><%= count %></span>
              <% else %>
                <span class="tag is-primary"><%= count %></span>
              <% end %>
            </div>
          </th>
        </tr>
      </thead>
      <% holidays.sort_by{|h| h[:day]}.each do |holy| %>
        <tr>
          <td>
            <span class="button <%= holy.check_range ? 'is-success' : 'is-info' %> is-light is-small reschedule-modal-btn is-rounded is-fullwidth"
                    data-target="#reschedule-modal" data-holy-id="<%= holy.id %>" data-holy-day="<%= holy.day %>">
              <span><%= holy.day %></span>
              <span class="icon"><i class="fa fa-calendar"></i></span>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
<% end %>
