<% (1..2).each do |b| %>
  <div class="column is-half <%= (b==1) ? 'pr-0' : 'pl-0' %>">
    <table class="table is-striped is-narrow is-hoverable is-fullwidth is-bordered" id="table-term-<%= term.id %>-col-<%= b %>">
      <% holidays = employee.holidays.select{ |h| h.term_id == term.id and ((b==1)? h.day < Date.today : h.day >= Date.today) } %>
      <thead>
        <tr>
          <th class="header-situation">
            <div class="tags has-addons">
              <% count = holidays.size %>
              <span class="tag "><%= (b==1) ? 'Tomados' : 'Programados' %></span>
              <% if count > 10 %>
                <span class="tag is-danger"><%= count %></span>
              <% else %>
                <span class="tag is-primary"><%= count %></span>
              <% end %>
            </div>
          </th>
        </tr>
      </thead>
      <% holidays.sort_by{|h| h[:day]}.each do |holy| %>
        <tr>
          <td>
            <span class="tag <%= holy.situation %> day-cell is-small is-rounded is-fullwidth">
                <%= check_box_tag 'hollies', holy.id %>
              <span class="day-span"><%= holy.day %></span>
            </span>
          </td>
        </tr>
      <% end %>
      <tfoot>
        <tr>
          <td>
            <button class="button reschedule-modal-btn cell-btn is-success is-outlined is-small is-pulled-right"
                    data-target="#reschedule-modal" data-term-id="<%= term.id %>" data-col-id="<%= b %>">
              Cambiar
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
<% end %>
