<article class="message is-info">
  <div class="message-body">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-64x64">
            <img class="is-rounded" src="<%= employee.user.display_url %>">
          </figure>
        </div>
        <div class="level-item">
          <span class="subtitle is-5"><%= employee.number %> <%= employee.user.fullname %></span>
        </div>
      </div>
    </nav>
  </div>
</article>

<div class="columns">
  <div class="column"><span class="tag is-success is-light">Ordinario</span></div>
  <div class="column"><span class="tag is-info is-light">Re-programado</span></div>
  <div class="column"><span class="tag is-warning is-light">Festivo</span></div>
  <div class="column"><span class="tag is-danger is-light">Fuera del periodo</span></div>
  <div class="column"><span class="tag is-danger">Duplicado</span></div>
</div>

<div class="columns">
  <% Term.last(3).each do |term| %>
    <div class="column is-one-third">
      <article class="message is-success mb-0">
        <div class="message-body">
          <div class="level mb-1">
            <nav class="level-left">
              <div class="level-item ">
                <div>
                  <p class="heading is-6">Periodo</p>
                  <p class="subtitle is-6"><%= term.code %></p>
                </div>
              </div>
            </nav>
            <div class="level-item ">
              <div>
                <p class="heading is-6">Fechas</p>
                <p class="subtitle is-6 is-light">
                  <%= term.start %>
                  <span class="icon is-small"><i class="fas fa-arrow-right is-small"></i></span>
                  <%= term.end %>
                </p>
              </div>
            </div>
            <nav class="level-right">
              <div class="level-item ">
                <div>
                  <p class="heading is-6">Días</p>
                  <% days = employee.holidays.select{ |h| h.term_id == term.id}.size %>
                  <% if days != 10  %>
                    <p class="subtitle is-6 is-danger has-text-danger"><%= days %></p>
                  <% else %>
                    <p class="subtitle is-6 is-success"><%= days %></p>
                  <% end %>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </article>
      <div class="columns" id="table-term-<%= term.id %>">
        <%= render :partial=>'holidays/holidays', :locals => {:term=> term, :employee=> employee} %>
      </div>
    </div>
  <% end %>
</div>
