<article class="message is-info">
  <div class="message-body">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <figure class="image is-48x48">
            <img class="is-rounded" src="<%= employee.user.display_url %>">
          </figure>
        </div>
        <div class="level-item">
          <span class="subtitle is-5"><%= employee.number %> <%= employee.user.fullname %></span>
        </div>
      </div>
    </nav>
  </div>
</article>

<div class="columns  mb-0 has-text-centered">
  <div class="column"><span class="tag color-code is-success is-light is-small is-rounded">Ordinario</span></div>
  <div class="column"><span class="tag color-code is-info is-light is-small is-rounded" style="border-color: #48c774;">Re-programado</span></div>
  <div class="column"><span class="tag color-code is-warning is-light is-small is-rounded">Festivo</span></div>
  <div class="column"><span class="tag color-code is-danger is-light is-small is-rounded">Fuera del periodo</span></div>
  <div class="column"><span class="tag color-code is-danger  is-small is-rounded">Duplicado</span></div>
</div>

<div class="columns">
  <% Term.last(3).each do |term| %>
    <div class="column is-one-third">
      <% days = employee.holidays.select{ |h| h.term_id == term.id}.size %>
      <article class="message is-success mb-0" style="position: relative;">
        <div class="message-body">
          <span class="badge  <% (days==10)? 'is-success' : 'is-danger'  %> is-outlined"><%= days %></span>
          <div class="level mb-1">
            <nav class="level-left">
              <div class="level-item ">
                <div>
                  <p class="heading is-6">Periodo</p>
                  <p class="subtitle is-6"><%= term.code %></p>
                </div>
              </div>
            </nav>
            <nav class="level-right">
              <div class="level-item ">
                <div>
                  <p class="heading is-6">Fechas</p>
                  <p class="subtitle is-6 is-light">
                    <%= term.start %>
                    <span class="icon is-small"><i class="fas fa-arrow-right is-small"></i></span>
                    <%= term.end %>
                  </p>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </article>
      <div class="columns" id="table-term-<%= term.id %>">
        <%= render :partial=>'holidays/holidays', :locals => {:term=> term, :employee=> employee} %>
      </div>
    </div>
  <% end %>
</div>
