<p class="title mt-2">Vacaciones</p>

<div class="columns mb-0">
  <div class="column is-one-third">
    <div class="field">
      <label class="label">Empleado</label>
      <div class="control">
        <%= select("get", "employee_id", @employees.collect {|e| [ e.user.fullname, e.id ] }, { include_blank: false }) %>
      </div>
    </div>
  </div>
</div>

<div id='schedule-container' class="container">
  <%= render :partial=>'holidays/set_employee', :locals => {:employee=> @employees.first} %>
</div>

<!-- ----------- -->
<!-- Page Loader -->
<div id="page-loader" class="pageloader is-success is-light"><span class="title">Cargando...</span></div>

<!-- ------------------------------------ -->
<!-- Modal for Re-Schedule a specific Day -->
<div id="reschedule-modal" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="column is-half">
      <button class="delete modal-close-reschedule-day is-pulled-right" style="margin: 5px;" aria-label="close"></button>
      <div class="box">
        <%= form_for Holiday.new, :url=>{:controller=>'holidays', :action=>'reschedule_day',
                                         :method=>'post', :validate=>true, :format=>:js, :remote=>true,
                                         :multipart=>true},
                     :multipart=>true, :remote=>true, :html => {:multipart => true,:remote=>true} do |f| %>
          <%= f.hidden_field :hollies, id:'hollies-field', :multiple => true %>
          <div class="field">
            <label class="label">Seleccionar día inicial:</label>
            <div class="control">
              <%= f.text_field :initial_day, id:'initial-day-field', class:'input', type:'date', placeholder:'Día inicial', value:Date.today %>
            </div>
          </div>
          <div class="field is-grouped  ">
            <div class="control">
              <button class="button is-link modal-close-reschedule-day" id="modal-close-reschedule-day-btn">
                    <span class = "icon is-small">
                      <i class = "fas fa-check"></i>
                    </span>
                <span>Cambiar día</span>
              </button>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <!-- <button class="modal-close is-large" aria-label="close">Here</button> -->
</div>

<script>

    $(function() {
        $(document).on('click', '.reschedule-modal-btn', function() {
            // abre re-schedule modal y le inserta holy-id y holy-day a la form
            let target = $(this).data("target");
            // console.log('Holyd> ', $(this).data("holy-id"), $(this).data("holy-day"));
            $("html").addClass("is-clipped");
            $(target).addClass("is-active");
            //$("#new-holy-day-field").val($(this).data("holy-day"));
            //$("#holy-id-field").val($(this).data("holy-id"));

            let col_id = '#table-term-' + $(this).data("term-id") + '-col-' + $(this).data("col-id") ;
            let hollies = [];
            $(col_id + " input:checked").each(function(){
                hollies.push($(this).val());
            });
            $("#hollies-field").val(hollies);
        })
    });
    $(".modal-close-reschedule-day").click(function() {
        // cierra re-schedule modal
        $("html").removeClass("is-clipped");
        $("#reschedule-modal").removeClass("is-active");
    });
    $("#modal-close-reschedule-day-btn").on('click', function (){
        $("#page-loader").addClass('is-active');
    });
    $(function() {
        // selectpicker Bulma Live Search
        $('select').selectize();
    });

    $(function() {
      $(document).on('change', '#get_employee_id', function() {
          let employee_id = $(this).val();
          if (employee_id) {
              $("#page-loader").addClass('is-active')
              $.get("/holidays/set_employee/" + employee_id);
              /*
              $("#page-loader").addClass('is-active')
              $.ajax({
                  type: "GET",
                  async: false,
                  url: "/holidays/set_employee/" + employee_id,
                  complete: function () {
                      $("#page-loader").removeClass('is-active')
                  }
              });
               */
          } else {
              $('#schedule-container').html(
                  '<article class="message is-info">' +
                  '  <div class="message-body">' +
                  '     <h5 class=subtitle is-5">No hay empleado seleccionado</h5>' +
                  '  </div>' +
                  '</article>');
          }
      });
    });
</script>